<table>
    <tr>
        <td>
            <label text="Enter Name: "></label>
        </td>
        <td>
            <input type="text" #name/>
        </td>
    </tr>
    
    <tr>
        <td>
            <label text="Enter description: "></label>
        </td>
        <td>
            <input type="text" #description/>
        </td>
    </tr>
    
    <tr>
        <td></td>
        <td>
            <button (click)="addNewExample(name.value,description.value)" class="btn btn-primary">Add Example</button>
        </td>
    </tr>

</table>