<!-- <table>
    <tr>
        <td>
            <label text="Enter Name: "></label>
        </td>
        <td>
            <input type="text" #name/>
        </td>
    </tr>
    
    <tr>
        <td>
            <label text="Enter title: "></label>
        </td>
        <td>
            <input type="text" #title/>
        </td>
    </tr>
    
    <tr>
        <td>
            <label text="Enter introduction: "></label>
        </td>
        <td>
            <input type="text" #introduction/>
        </td>
    </tr>
    
    <tr>
        <td></td>
        <td>
            <button (click)="addNewLanguage(name.value,title.value,introduction.value)" class="btn btn-primary">Add Language</button>
        </td>
    </tr>

</table> -->